.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.dir-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-baseline {
  align-items: baseline;
}
.align-center {
  align-items: center;
}
.fb-25 {
  flex-basis: 25%;
}
.fb-33 {
  flex-basis: 33%;
}
.fb-50 {
  flex-basis: 50%;
}
.fb-66 {
  flex-basis: 66%;
}
.fb-75 {
  flex-basis: 75%;
}

@media screen and (max-width: 768px) {
  .fd-m-column {
    flex-direction: column;
  }
  .fb-m-25 {
    flex-basis: 25%;
  }
  .fb-m-75 {
    flex-basis: 75%;
  }
  .fb-m-100 {
    flex-basis: 100%;
  }
}
