.over-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.index-z {
  z-index: 1;
}
.full-width,
.width-100,
.full-scr {
  max-width: 100%;
  width: 100%;
}
.half-width,
.width-50 {
  width: 50%;
}
.width-33 {
  width: 33%;
}
.auto-height {
  height: auto;
}
.display-none,
.hidden,
.block-mobile,
.inline-mobile,
.flex-mobile {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.display-grid {
  display: grid;
}

@media screen and (max-width: 768px) {
  .display-none-mob,
  .desktop,
  .hide-on-mobile {
    display: none;
  }
  .inline-mobile {
    display: inline-block;
  }
  .block-mobile {
    display: block;
  }
  .flex-mobile {
    display: flex;
  }
  .mobile {
    display: block;
  }
}
