:root {
    /* COLOR VARIABLES */
    --color-body-text: #333333;
    --color-body-bg: #ffffff;
    --color-text-primary: #275468;
    --color-text-decorative: #FFC701;
    /* TYPOGRAPHY VARIABLES */
    --font-heading: 'Oswald';
    --font-text: 'Roboto';

    --font-size-base: 12px;
    --font-size-tablet: 14px;
    --font-size-laptop: 16px;
    --font-size-desktop: 18px;
    --font-size-huge: 20px;
}